
.headerRow,
.evenRow,
.oddRow {
    border-bottom: 1px solid #e0e0e0;
    font-size: 12px;
    overflow: inherit !important;
}
.oddRow {
    background-color: #fafafa;
}

.headerColumn {
    /*text-transform: none;*/
}

/*.cell {*/
    /*font-size: 12px;*/
    /*!*padding-top: 0 !important;*!*/
/*}*/

/*.cell-run :global(.public_fixedDataTableCell_cellContent){*/
    /*width: 80px;*/
    /*text-align: right;*/
    /*padding-left: 0;*/
/*}*/

/*.cell-documentos :global(.public_fixedDataTableCell_cellContent){*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
/*}*/

/*.cell-telefono :global(.public_fixedDataTableCell_cellContent){*/
    /*width: 80px;*/
    /*text-align: right;*/
    /*padding-left: 0;*/
/*}*/