/* Componente: ModalAgregarProducto */
.modal-agregar-producto {
    width: 100%;
    max-width: 400px;
    background: #EEEEEE;
}


/* Componente: FormNuevoProducto */
.error-msg {
    color: red;
    padding: 0;
}

.modal-body {
    padding: 10px;
}
.modal-footer {
    padding: 10px;
}
.modal-footer button{
    width: 50%;
    display: inline-block;
    margin-top: 0 !important;
}
