/* TABLA SEMANAL*/
.tableFixed{
    table-layout: fixed;
    font-size: 12px !important;
    width: 100%;
}
.tableFixed td {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
.tableFixed p {
    margin-bottom: 0;
}
.tableFixed > tbody > tr > td {
    padding: 0 !important;
}
.trSeparador {
    border-bottom: 2px black solid !important;
}

/* CORRELATIVO */
.thCorrelativo {
    width: 30px;
    background: white;
}
.tdCorrelativo {
    width: 30px;
    vertical-align: middle !important;
}

/* FECHA */
.thFecha{
    width: 170px !important;
    background: white;
}
.tdFecha{
    width: 170px !important;
    background: white;
    vertical-align: middle !important;
    padding: 0px !important;
}

/* CLIENTE */
.thCliente{
    width: 45px !important;
    background: white;
}
.tdCliente{
    width: 45px !important;
    background: white;
    vertical-align: middle !important;
    font-size: 10px !important;
}
.tdCliente p{
    text-align: center;
}

/* CECO */
.thCeco{
    width: 45px !important;
    background: white;
}
.tdCeco{
    width: 45px !important;
    background: white;
    vertical-align: middle !important;
    font-size: 10px !important;
}
.tdCeco p{
    text-align: center;
}

/* REGIÓN */
.thRegion{
    width: 45px !important;
    background: white;
}
.tdRegion{
    width: 45px !important;
    background: white;
    vertical-align: middle !important;
    font-size: 10px !important;
}
.tdRegion p{
    text-align: center;
}

/* COMUNA */
.thComuna{
    width: 80px !important;
    background: white;
}
.tdComuna{
    width: 80px !important;
    background: white;
    vertical-align: middle !important;
    font-size: 10px !important;
}

/* TURNO */
.thTurno{
    width: 95px !important;
    background: white;
}
.tdTurno{
    width: 95px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 14px !important;
}
.tdTurno > select {
    width: 94px !important;
    display: block;
    margin: 0 auto 1px auto;
    height:18px;
    font-size: 12px;
    line-height: 12px;
}

/* TIENDA */
.thTienda{
    width: 110px !important;
    background: white;
}
.tdTienda{
    width: 110px !important;
    background: white;
    vertical-align: middle !important;
}

/* STOCK */
.thStock{
    width: 47px !important;
    background: white;
}
.tdStock{
    width: 47px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.tdStock > p{
    text-align: right;
}

/* DOTACION TOTAL */
.thDotacionTotal{
    width: 70px !important;
    background: white;
}
.tdDotacionTotal{
    width: 70px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.tdDotacionTotal > input {
    height: 18px !important;    /* para hacer que el input sea del mismo alto que un select */
    padding: auto 0 !important;
}

/* LIDER / SUPERVISOR / CAPTADOR1 / CAPTADOR2 */
.thAuditor{
    width: 110px !important;
    background: white;
}
.tdAuditor{
    width: 110px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.tdAuditor > select {
    width: 98px !important;
    height: 18px;               /* misma altura de un input */
    margin: 0 auto 1px auto;    /* mismos margenes de un input */
    font-size: 10px;
    line-height: 12px;
}

/* Fecha informada de realización de auditoria*/
.thFechaInformada {
    width: 70px !important;
    background: white;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.tdFechaInformada {
    width: 70px !important;
    background: white;
    vertical-align: middle !important;
}

/* Estados: REVISADA (ex-APROBADA) */
.thRevisada {
    width: 80px !important;
    background: white;
}
.tdRevisada {
    width: 80px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.tdRevisada > select {
    width: 78px !important;
    height: 18px;               /* misma altura de un input */
    margin: 0 auto 1px auto;    /* mismos margenes de un input */
    font-size: 10px;
    line-height: 12px;
}

/* DOTACION SUP1 / DOTACION SUP2 */
.thDotacion{
    width: 80px !important;
    background: white;
}
.tdDotacion{
    width: 80px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.tdDotacion > input {
    width: 70px !important;
    height: 22px !important;    /* para hacer que el input sea del mismo alto que un select */
    padding: auto 0 !important;
}

/* APERTURA/CIERRE DE LOCAL */
.thAperturaCierre {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 70px;
    background: white;
}
.tdAperturaCierre {
    width: 70px;
    vertical-align: middle !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.tdAperturaCierre > input {
    margin: auto;
    width: 65px;
    height: 18px;
}

/* DIRECCION */
.thDireccion{
    width: 160px !important;
    background: white;
}
.tdDireccion{
    width: 160px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
    font-size: 10px;
    line-height: 1 !important;
}

/* Opciones */
.thOpciones {
    width: auto !important;
    min-width: 100px;
    background: white;
}
.tdOpciones {
    width: auto !important;
    vertical-align: middle !important;
}
.tdOpciones > button {
    width: 60px;
    font-size: 12px !important;
    line-height: 12px !important;
    height: 18px !important;
}