
.TableHeader__container___3n5Ns{
    position: relative;
}
.TableHeader__cell___36W2d{

}
.TableHeader__menu___3yRPw{
    background: white;
    position: absolute;
    width: 100%;
    min-width: 200px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px grey;
    padding: 5px;
}
.TableHeader__contenedorValores___1xZ9-{
    height: 130px;
    border: 1px solid grey;
    border-radius: 2px;
    overflow: auto;
    padding: 5px;
}
.TableHeader__menu___3yRPw label{
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
}.TablaMensual__tableFixed___3hn-U{
    table-layout: fixed;
    font-size: 12px !important;
    width: 100%;
}
.TablaMensual__tableFixed___3hn-U td {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
.TablaMensual__tableFixed___3hn-U p {
    margin-bottom: 0;
}

/* TABLA
 la tabla de locales, al tener un "sticky header", este pierde el ancho de
 las "TD" y se descuadra cuando el sticky se vuelve activo, pasa solucionar
 esto, es necesario que los anchos de las celdas sean fijos, no dinamicos
 */
/* correlativo */
.TablaMensual__thCorrelativo___205PS {
    width: 30px;
    background: white;
}
.TablaMensual__tdCorrelativo___3g7Kf {
    width: 30px;
    vertical-align: middle !important;
}
/* Fecha */
.TablaMensual__thFecha___qsSQI {
    width: 180px !important;
    background: white;
}
.TablaMensual__tdFecha___3dyl8 {
    width: 180px !important;
    vertical-align: middle !important;
}

/* Cliente */
.TablaMensual__thCliente___1U6Qf {
    width: 75px;
    background: white;
}
.TablaMensual__tdCliente___ZJlHc {
    vertical-align: middle !important;
}
/* CECO */
.TablaMensual__thCeco___9eDrc {
    width: 45px;
    background: white;
}
.TablaMensual__tdCeco___1S7zy {
    vertical-align: middle !important;
}
/* Local */
.TablaMensual__thLocal___1_8gu {
    width: 150px;
    background: white;
}
.TablaMensual__tdLocal___1H599 {
    vertical-align: middle !important;
}
/* ZonaSei */
.TablaMensual__thZonaSei___3i7os {
    width: 150px;
    background: white;
}
.TablaMensual__tdZonaSei___1U2bp {
    vertical-align: middle !important;
}
/* Region */
.TablaMensual__thRegion___3TsFl {
    width: 80px;
    background: white;
}
.TablaMensual__tdRegion___Ip0Ay {
    vertical-align: middle !important;
}
/* Comuna */
.TablaMensual__thComuna___Oo1Ii {
    width: 140px;
    background: white;
}
.TablaMensual__tdComuna___2-gHM {
    vertical-align: middle !important;
}
/* Stock */
.TablaMensual__thStock___2gCw9 {
    width: 60px;
    background: white;
}
.TablaMensual__tdStock___3C5AD {
    vertical-align: middle !important;
}
/* Dotacion */
.TablaMensual__thDotacion___1arnK {
    width: 70px;
    background: white;
}
.TablaMensual__tdDotacion___8XMxS {
    vertical-align: middle !important;
}
.TablaMensual__tdDotacion___8XMxS > input{
    width: 100%;
}
/* Jornada */
.TablaMensual__thJornada___1_nfU {
    width: 110px;
    max-width: 110px;
    background: white;
}
.TablaMensual__tdJornada___2FZa3 {
    vertical-align: middle !important;
}
.TablaMensual__tdJornada___2FZa3 > select{
    display: block;
    margin: 0 auto;
}

/* Estado */
.TablaMensual__thEstado___2yScb {
    width: 100px;
    background: white;
}
.TablaMensual__tdEstado___2ptX1 {
    width: 100px;
    vertical-align: middle !important;
}

/* Opciones */
.TablaMensual__thOpciones___2D5B0 {
    width: auto !important;
    background: white;
}
.TablaMensual__tdOpciones___Q-epC {
    width: auto !important;
    vertical-align: middle !important;
}/*input[type="number"]*/
/* FIREFOX */
.shared__inputNumberAsText___1Qr9M {
    -moz-appearance: textfield;
}
/* CHROME */
.shared__inputNumberAsText___1Qr9M::-webkit-outer-spin-button,
.shared__inputNumberAsText___1Qr9M::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide */
.shared__tooltipHide___2CzIE .tooltip-inner{
    display: none;
}
.shared__tooltipHide___2CzIE .tooltip-arrow{
    display: none;
}
/* Danger */
.shared__tooltipDanger___3_QoZ .tooltip-inner{
    background-color: #d9534f;
}
.shared__tooltipDanger___3_QoZ .tooltip-arrow{
    border-left-color: #d9534f !important;
}
/* Warning*/
.shared__tooltipWarning___38s1A .tooltip-inner{
    background-color: #f0ad4e;
}
.shared__tooltipWarning___38s1A .tooltip-arrow{
    border-left-color: #f0ad4e !important;
}



/*input::-webkit-outer-spin-button,*/
/*input::-webkit-inner-spin-button {*/
/*!* display: none; <- Crashes Chrome on hover *!*/
/*-webkit-appearance: none;*/
/*margin: 0; !* <-- Apparently some margin are still there even though it's hidden *!*/
/*}*//* FECHA */
.Inputs__diaSemana___34AhO {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.Inputs__inputDia___20XmH{
    width: 30px;
    marginRight: 2px;
    /*hei14px !important;*/
    line-height: 14px !important;
}
.Inputs__inputDiaInvalido___305Sw{
    border: 2px solid #a94442;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    outline-color: #ce8483;
}
.Inputs__inputDiaPendiente___3--9V{
    border: 2px solid #f0ad4e;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    outline-color: #ce8483;
}
.Inputs__inputMes___1yn37{
    width: 25px;
    marginRight: 2px;
    line-height: 14px !important;
}
.Inputs__inputAnno___i0OS2{
    width: 45px;
    marginRight: 2px;
    line-height: 14px !important;
}

/* Dotacion */
.Inputs__inputDotacion___1Lykv{
    width: 25px;
    margin: 0 0 2px 0;
}
.Inputs__inputDotacionInvalida___2GLmK{
    border: 2px solid #a94442;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    outline-color: #ce8483;
}
.AgregarPrograma__tableCell___2PsDG {
    padding: 0 !important;
    margin: 0;
}
.AgregarPrograma__tableCell___2PsDG > p {
    margin: 0;
}
/*.tableCellInput {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*border: 0;*/
/*}*//*input[type="number"]*/
/* FIREFOX */
.InputFecha__inputNumberAsText___1ZD39 {
    -moz-appearance: textfield;
}
/* CHROME */
.InputFecha__inputNumberAsText___1ZD39::-webkit-outer-spin-button,
.InputFecha__inputNumberAsText___1ZD39::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.InputFecha__divContenedor___Z1tR8{
    display: block;
    margin: 0 auto 1px auto;
}

/* FECHA */
.InputFecha__inputDia___26G8W{
    width: 30px;
    marginRight: 2px;
    text-align: center;
    line-height: 14px !important;
}

.InputFecha__inputDiaDirty___3aUzJ{
    border: 2px solid #381615;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #635353;   /*plomo*/
    outline-color: #4f3534;
}
.InputFecha__inputDiaInvalido___3vMMM{
    border: 2px solid #a94442;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    outline-color: #ce8483;
}
.InputFecha__inputDiaPendiente___1VNj-{
    border: 2px solid #f0ad4e;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    outline-color: #ce8483;
}
.InputFecha__inputMes___3SGfR{
    width: 25px;
    marginRight: 2px;
    text-align: center;
    line-height: 14px !important;
}
.InputFecha__inputAnno___3nCrE{
    width: 45px;
    marginRight: 2px;
    text-align: center;
    line-height: 14px !important;
}
.InputFecha__diaSemana___tcpYd {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}.InputHora__inputHora___3nVzJ{
    margin: 0 0 2px 0;
}
.InputHora__inputHoraDirty___8JAx5 {
    border: 2px solid #381615;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #635353;   /*plomo*/
    outline-color: #4f3534;
}.InputDotacion__inputDotacion___3JxlM{
    width: 32px;
    margin: 0 0 2px 0;
    text-align: center;
    font-size: 12px;
    line-height: 14px !important;
    padding: 0;
}
.InputDotacion__inputDotacionDirty___4ThKI {
    border: 2px solid #381615;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #635353;   /*plomo*/
    outline-color: #4f3534;
}
.InputDotacion__inputDotacionInvalida___3TtRl{
    border: 2px solid #a94442;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    outline-color: #ce8483;
}.InputStock__inputStock___26N2X{
    width: 45px;
    margin: 0 0 2px 0;
    text-align: center;
    font-size: 12px;
    line-height: 14px !important;
    padding: 0;
}
.InputStock__inputStockDirty___3akGL {
    border: 2px solid #381615;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #635353;   /*plomo*/
    outline-color: #4f3534;
}
.InputStock__inputStockInvalida___30WPl{
    border: 2px solid #a94442;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    outline-color: #ce8483;
}.Select__select___3B5qY{
    margin: 0 0 2px 0;
}
.Select__selectDirty___1qtZG {
    border: 2px solid #381615;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #635353;   /*plomo*/
    outline-color: #4f3534;
}/* TABLA SEMANAL*/
.TablaSemanal__tableFixed___3cWli{
    table-layout: fixed;
    font-size: 12px !important;
    width: 100%;
}
.TablaSemanal__tableFixed___3cWli td {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
.TablaSemanal__tableFixed___3cWli p {
    margin-bottom: 0;
}
.TablaSemanal__tableFixed___3cWli > tbody > tr > td {
    padding: 0 !important;
}

/* FECHA */
.TablaSemanal__thFecha___1z4uk{
    width: 170px !important;
    background: white;
}
.TablaSemanal__tdFecha___9Xm8H{
    width: 170px !important;
    background: white;
    vertical-align: middle !important;
    padding: 0px !important;
}

/* CLIENTE */
.TablaSemanal__thCliente___27MFR{
    width: 45px !important;
    background: white;
}
.TablaSemanal__tdCliente___2X_jo{
    width: 45px !important;
    background: white;
    vertical-align: middle !important;
    font-size: 12px !important;
}
.TablaSemanal__tdCliente___2X_jo p{
    text-align: center;
}

/* CECO */
.TablaSemanal__thCeco___1sILb{
    width: 55px !important;
    background: white;
}
.TablaSemanal__tdCeco___36yoq{
    width: 55px !important;
    background: white;
    vertical-align: middle !important;
    font-size: 12px !important;
}
.TablaSemanal__tdCeco___36yoq p{
    text-align: center;
}

/* REGIÓN */
.TablaSemanal__thRegion___1Z3rO{
    width: 35px !important;
    background: white;
}
.TablaSemanal__tdRegion___yGmes{
    width: 35px !important;
    background: white;
    vertical-align: middle !important;
    font-size: 12px !important;
}
.TablaSemanal__tdRegion___yGmes p{
    text-align: center;
}

/* COMUNA */
.TablaSemanal__thComuna___3efKw{
    width: 95px !important;
    background: white;
}
.TablaSemanal__tdComuna___3bueM{
    width: 95px !important;
    background: white;
    vertical-align: middle !important;
    font-size: 12px !important;
}

/* TURNO */
.TablaSemanal__thTurno___2VNe4{
    width: 95px !important;
    background: white;
}
.TablaSemanal__tdTurno___2cZYl{
    width: 95px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 14px !important;
}
.TablaSemanal__tdTurno___2cZYl > select {
    width: 94px !important;
    display: block;
    margin: 0 auto 1px auto;
    height:18px;
    font-size: 12px;
    line-height: 12px;
}

/* TIENDA */
.TablaSemanal__thTienda___3c71i{
    width: 110px !important;
    background: white;
}
.TablaSemanal__tdTienda___2SWQO{
    width: 110px !important;
    background: white;
    vertical-align: middle !important;
}

/* STOCK */
.TablaSemanal__thStock___2mqcj{
    width: 47px !important;
    background: white;
}
.TablaSemanal__tdStock___35x--{
    width: 47px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* DOTACION TOTAL */
.TablaSemanal__thDotacionTotal____NExu{
    width: 70px !important;
    background: white;
}
.TablaSemanal__tdDotacionTotal___n6TrF{
    width: 70px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.TablaSemanal__tdDotacionTotal___n6TrF > input {
    height: 18px !important;    /* para hacer que el input sea del mismo alto que un select */
    padding: auto 0 !important;
}

/* LIDER / SUPERVISOR / CAPTADOR1 / CAPTADOR2 */
.TablaSemanal__thLider___Ya2TZ{
    width: 110px !important;
    background: white;
}
.TablaSemanal__tdLider___2ocAD{
    width: 110px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.TablaSemanal__tdLider___2ocAD > select {
    width: 98px !important;
    height: 18px;               /* misma altura de un input */
    margin: 0 auto 1px auto;    /* mismos margenes de un input */
    font-size: 10px;
    line-height: 12px;
}

/* DOTACION SUP1 / DOTACION SUP2 */
.TablaSemanal__thDotacion___xuzq6{
    width: 80px !important;
    background: white;
}
.TablaSemanal__tdDotacion___BNhpC{
    width: 80px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.TablaSemanal__tdDotacion___BNhpC > input {
    width: 70px !important;
    height: 22px !important;    /* para hacer que el input sea del mismo alto que un select */
    padding: auto 0 !important;
}

/* HORA LLEGADA LIDER / HORA LLEGADA EQUIPO */
.TablaSemanal__thHora____0AKo{
    width: 94px !important;
    background: white;
}
.TablaSemanal__tdHora___irTF6{
    width: 94px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
}
.TablaSemanal__tdHora___irTF6 > input {
    width: 90px !important;
    height: 18px !important;    /* misma altura que los select */
}

/* DIRECCION */
.TablaSemanal__thDireccion___3AQ3H{
    width: 130px !important;
    background: white;
}
.TablaSemanal__tdDireccion___3BsgD{
    width: 130px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
    font-size: 12px;
}

/* NOMINA */
.TablaSemanal__thNomina___13psH{
    width: auto !important;
    background: white;
}
.TablaSemanal__tdNomina___32NOi{
    width: auto !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.TablaSemanal__tdNomina___32NOi > button {
    width: 60px;
    font-size: 12px !important;
    line-height: 12px !important;
    height: 18px !important;
}