
.Cabecera__container___3QvtW{
    position: relative;
}
.Cabecera__cell___1YFbN{

}
.Cabecera__menu___1L7n3{
    background: white;
    position: absolute;
    width: 100%;
    min-width: 200px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px grey;
    padding: 5px;
}
.Cabecera__contenedorValores___3Bx-H{
    height: 130px;
    border: 1px solid grey;
    border-radius: 2px;
    overflow: auto;
    padding: 5px;
}
.Cabecera__menu___1L7n3 label{
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
}/*input[type="number"]*/
/* FIREFOX */
.shared__inputNumberAsText___1Qr9M {
    -moz-appearance: textfield;
}
/* CHROME */
.shared__inputNumberAsText___1Qr9M::-webkit-outer-spin-button,
.shared__inputNumberAsText___1Qr9M::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.shared__tooltipDanger___3_QoZ .tooltip-inner{
    background-color: #d9534f;
}
.shared__tooltipDanger___3_QoZ .tooltip-arrow{
    border-left-color: #d9534f !important;
}
.shared__tooltipWarning___38s1A .tooltip-inner{
    background-color: #f0ad4e;
}
.shared__tooltipWarning___38s1A .tooltip-arrow{
    border-left-color: #f0ad4e !important;
}



/*input::-webkit-outer-spin-button,*/
/*input::-webkit-inner-spin-button {*/
/*!* display: none; <- Crashes Chrome on hover *!*/
/*-webkit-appearance: none;*/
/*margin: 0; !* <-- Apparently some margin are still there even though it's hidden *!*/
/*}*//* TABLA
 la tabla de locales, al tener un "sticky header", este pierde el ancho de
 las "TD" y se descuadra cuando el sticky se vuelve activo, pasa solucionar
 esto, es necesario que los anchos de las celdas sean fijos, no dinamicos
 */
/* correlativo */
.TablaLocalesMensual__thCorrelativo___3HnOu {
    width: 30px;
    background: white;
}
.TablaLocalesMensual__tdCorrelativo___Kvh_p {
    vertical-align: middle !important;
}
/* Fecha */
.TablaLocalesMensual__thFecha___1qDZQ {
    min-width: 120px;
    background: white;
}
.TablaLocalesMensual__tdFecha___3Ppcl {
    vertical-align: middle !important;
}
/* Cliente */
.TablaLocalesMensual__thCliente___3l2rs {
    width: 120px;
    background: white;
}
.TablaLocalesMensual__tdCliente___1R8Nd {
    vertical-align: middle !important;
}
/* CECO */
.TablaLocalesMensual__thCeco___1Isth {
    width: 55px;
    background: white;
}
.TablaLocalesMensual__tdCeco___39Cmj {
    vertical-align: middle !important;
}
/* Local */
.TablaLocalesMensual__thLocal___zaA5L {
    width: 200px;
    background: white;
}
.TablaLocalesMensual__tdLocal___2quqk {
    vertical-align: middle !important;
}
/* ZonaSei */
.TablaLocalesMensual__thZonaSei___2_Eql {
    width: 150px;
    background: white;
}
.TablaLocalesMensual__tdZonaSei___3ywi8 {
    vertical-align: middle !important;
}
/* Region */
.TablaLocalesMensual__thRegion___10Xps {
    width: 140px;
    background: white;
}
.TablaLocalesMensual__tdRegion___2KUA- {
    vertical-align: middle !important;
}
/* Comuna */
.TablaLocalesMensual__thComuna___2k2Sr {
    width: 140px;
    background: white;
}
.TablaLocalesMensual__tdComuna___93qXr {
    vertical-align: middle !important;
}
/* Stock */
.TablaLocalesMensual__thStock___1jhS_ {
    width: 60px;
    background: white;
}
.TablaLocalesMensual__tdStock___1mA1i {
    vertical-align: middle !important;
}
/* Dotacion */
.TablaLocalesMensual__thDotacion___K39aJ {
    width: 80px;
    background: white;
}
.TablaLocalesMensual__tdDotacion___3q5PS {
    vertical-align: middle !important;
}
/* Jornada */
.TablaLocalesMensual__thJornada___1DQcG {
    width: 200px;
    background: white;
}
.TablaLocalesMensual__tdJornada___kUo8p {
    vertical-align: middle !important;
}
/* Estado */
.TablaLocalesMensual__thEstado___1oBQx {
    width: 100px;
    background: white;
}
.TablaLocalesMensual__tdEstado___22jAi {
    vertical-align: middle !important;
}
/* Opciones */
.TablaLocalesMensual__thOpciones___2PzVJ {
    width: 250px;
    background: white;
}
.TablaLocalesMensual__tdOpciones___fMayz {
    vertical-align: middle !important;
}

/* FECHA */
.TablaLocalesMensual__inputDia___1IKdv{
    width: 30px;
    marginRight: 2px;
}
.TablaLocalesMensual__inputDiaInvalido___kQYUg{
    border: 2px solid #a94442;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    outline-color: #ce8483;
}
.TablaLocalesMensual__inputDiaPendiente___3UmCC{
    border: 2px solid #f0ad4e;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    outline-color: #ce8483;
}
.TablaLocalesMensual__inputMes___3dMJd{
    width: 25px;
    marginRight: 2px;
}
.TablaLocalesMensual__inputAnno___3XjjF{
    width: 45px;
    marginRight: 2px;
}

/* Dotacion */
.TablaLocalesMensual__inputDotacionSugerida___MCPhp{
    width: 25px;
    margin: 0 0 2px 0;
}
.TablaLocalesMensual__inputDotacionIngresada___2FZVc{
    width: 35px;
}
.AgregarManualmente__tableCell___bz7b0 {
    padding: 0 !important;
    margin: 0;
}
.AgregarManualmente__tableCell___bz7b0 > p {
    margin: 0;
}
/*.tableCellInput {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*border: 0;*/
/*}*/