body {
  padding-top: 70px;
}
/* Sidebar navigation */
a.active.collapsed,
.nav-header > a.active,
.nav-header > a:hover,
.nav-header > a:focus {
  color: #fff;
  background-color: #428bca;
}
.nav-header > a:focus {
  color: #337ab7;
  text-decoration: underline;
/* background-color: #eee; */
}
.nav-stacked > .active > a,
.nav-stacked > .active > a:hover,
.nav-stacked > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.nav-header > .nav {
  padding-left: 10px;
  padding-right: 10px;
}
.nav-header > a:hover {
  color: #337ab7;
  text-decoration: underline;
}
