/* TABLA
 la tabla de locales, al tener un "sticky header", este pierde el ancho de
 las "TD" y se descuadra cuando el sticky se vuelve activo, pasa solucionar
 esto, es necesario que los anchos de las celdas sean fijos, no dinamicos
 */
/* correlativo */
.thCorrelativo {
    width: 30px;
    background: white;
}
.tdCorrelativo {
    composes: thCorrelativo;
    vertical-align: middle !important;
}
/* Fecha */
.thFecha {
    width: 120px;
    background: white;
}
.tdFecha {
    composes: thFecha;
    vertical-align: middle !important;
}
/* Cliente */
.thCliente {
    width: 65px;
    background: white;
}
.tdCliente {
    composes: thCliente;
    vertical-align: middle !important;
}
/* CECO */
.thCeco {
    width: 55px;
    background: white;
}
.tdCeco {
    composes: thCeco;
    vertical-align: middle !important;
}
/* Local */
.thLocal {
    width: 140px;
    background: white;
}
.tdLocal {
    composes: thLocal;
    vertical-align: middle !important;
}
/* ZonaSei */
.thZonaSei {
    width: 150px;
    background: white;
}
.tdZonaSei {
    composes: thZonaSei;
    vertical-align: middle !important;
}
/* Region */
.thRegion {
    width: 140px;
    background: white;
}
.tdRegion {
    composes: thRegion;
    vertical-align: middle !important;
}
/* Comuna */
.thComuna {
    width: 140px;
    background: white;
}
.tdComuna {
    composes: thComuna;
    vertical-align: middle !important;
}
/* Stock */
.thStock {
    width: 60px;
    background: white;
}
.tdStock {
    composes: thStock;
    vertical-align: middle !important;
}
/* Dotacion */
.thDotacion {
    width: 80px;
    background: white;
}
.tdDotacion {
    composes: thDotacion;
    vertical-align: middle !important;
}
/* Jornada */
.thJornada {
    width: 200px;
    background: white;
}
.tdJornada {
    composes: thJornada;
    vertical-align: middle !important;
}
/* Opciones */
.thOpciones {
    width: 350px;
    background: white;
}
.tdOpciones {
    composes: thOpciones;
    vertical-align: middle !important;
}

/* FECHA */
.inputDia{
    composes: inputNumberAsText from '../shared/shared.css';
    width: 30px;
    marginRight: 2px;
}
.inputMes{
    composes: inputNumberAsText from '../shared/shared.css';
    width: 25px;
    marginRight: 2px;
}
.inputAnno{
    composes: inputNumberAsText from '../shared/shared.css';
    width: 45px;
    marginRight: 2px;
}

/* Dotacion */
.inputDotacionSugerida{
    composes: inputNumberAsText from '../shared/shared.css';
    width: 25px;
    margin: 0 0 2px 0;
}
.inputDotacionIngresada{
    composes: inputNumberAsText from '../shared/shared.css';
    width: 35px;
}
