
.container{
    position: relative;
}
.divTitulo {
    width: auto;
    display: inline;
}
.spanOrdenar {
    padding-left: 10px;
    padding-right: 10px;
}
.menu{
    background: white;
    position: absolute;
    width: 100%;
    min-width: 200px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px grey;
    padding: 5px;
}
.contenedorValores{
    height: 130px;
    border: 1px solid grey;
    border-radius: 2px;
    overflow: auto;
    padding: 5px;
}
.menu label{
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
}
.filtroColoreado{
    color: dodgerblue;
}