/*input[type="number"]*/
/* FIREFOX */
.inputNumberAsText {
    -moz-appearance: textfield;
}
/* CHROME */
.inputNumberAsText::-webkit-outer-spin-button,
.inputNumberAsText::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.divContenedor{
    display: block;
    margin: 0 auto 1px auto;
}

/* FECHA */
.inputDia{
    composes: inputNumberAsText;
    width: 30px;
    marginRight: 2px;
    text-align: center;
    line-height: 14px !important;
}

.inputDiaDirty{
    composes: inputDia;
    border: 2px solid #381615;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #635353;   /*plomo*/
    outline-color: #4f3534;
}
.inputDiaInvalido{
    composes: inputDia;
    border: 2px solid #a94442;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    outline-color: #ce8483;
}
.inputDiaPendiente{
    composes: inputDia;
    border: 2px solid #f0ad4e;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    outline-color: #ce8483;
}
.inputMes{
    composes: inputNumberAsText;
    width: 25px;
    marginRight: 2px;
    text-align: center;
    line-height: 14px !important;
}
.inputAnno{
    composes: inputNumberAsText;
    width: 45px;
    marginRight: 2px;
    text-align: center;
    line-height: 14px !important;
}
.diaSemana {
    display: inline-block;
    padding-left: 2px;
    padding-right: 5px;
}
.diaSemanaConError {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    background: #F44309;
}
/* el tooltip esta dentro del span */
.diaSemanaConError span{
    z-index:10;
    display:none;
}
.diaSemanaConError:hover span{
    display:inline;
    position:absolute;
    border-radius: 8px;
    color:#EEE;
    background: #222222;
    padding: 4px 8px;
    font-size: 12px;
}