.inputDotacion{
    composes: inputNumberAsText from './shared.css';
    width: 45px;
    margin: 0 0 2px 0;
    text-align: center;
    font-size: 12px;
    line-height: 14px !important;
    padding: 0;
}
.inputDotacionDirty {
    composes: inputDotacion;
    border: 2px solid #381615;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #635353;   /*plomo*/
    outline-color: #4f3534;
}
.inputDotacionInvalida{
    composes: inputDotacion;
    border: 2px solid #a94442;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    outline-color: #ce8483;
}