.select{
    composes: inputNumberAsText from '../shared/shared.css';
    margin: 0 0 2px 0;
}
.selectDirty {
    composes: select;
    border: 2px solid #381615;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #635353;   /*plomo*/
    outline-color: #4f3534;
}
.selectDisable {
    color: graytext;
}