/*input[type="number"]*/
/* FIREFOX */
.inputNumberAsText {
    -moz-appearance: textfield;
}
/* CHROME */
.inputNumberAsText::-webkit-outer-spin-button,
.inputNumberAsText::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide */
.tooltipHide :global .tooltip-inner{
    display: none;
}
.tooltipHide :global .tooltip-arrow{
    display: none;
}
/* Danger */
.tooltipDanger :global .tooltip-inner{
    background-color: #d9534f;
}
.tooltipDanger :global .tooltip-arrow{
    border-left-color: #d9534f !important;
}
/* Warning*/
.tooltipWarning :global .tooltip-inner{
    background-color: #f0ad4e;
}
.tooltipWarning :global .tooltip-arrow{
    border-left-color: #f0ad4e !important;
}



/*input::-webkit-outer-spin-button,*/
/*input::-webkit-inner-spin-button {*/
/*!* display: none; <- Crashes Chrome on hover *!*/
/*-webkit-appearance: none;*/
/*margin: 0; !* <-- Apparently some margin are still there even though it's hidden *!*/
/*}*/