.tableFixed{
    table-layout: fixed;
    font-size: 12px !important;
    width: 100%;
}
.tableFixed td {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
.tableFixed p {
    margin-bottom: 0;
}
.trSeparador {
    border-bottom: 2px black solid !important;
}

/* TABLA
 la tabla de locales, al tener un "sticky header", este pierde el ancho de
 las "TD" y se descuadra cuando el sticky se vuelve activo, pasa solucionar
 esto, es necesario que los anchos de las celdas sean fijos, no dinamicos
 */
/* correlativo */
.thCorrelativo {
    width: 30px;
    background: white;
}
.tdCorrelativo {
    width: 30px;
    vertical-align: middle !important;
}
/* Fecha */
.thFecha {
    width: 180px !important;
    background: white;
}
.tdFecha {
    width: 180px !important;
    vertical-align: middle !important;
}

/* Cliente */
.thCliente {
    width: 75px;
    background: white;
}
.tdCliente {
    composes: thCliente;
    vertical-align: middle !important;
}
/* CECO */
.thCeco {
    width: 45px;
    background: white;
}
.tdCeco {
    composes: thCeco;
    vertical-align: middle !important;
}
/* Local */
.thLocal {
    width: 150px;
    background: white;
}
.tdLocal {
    composes: thLocal;
    vertical-align: middle !important;
}
/* ZonaSei */
.thZonaSei {
    width: 150px;
    background: white;
}
.tdZonaSei {
    composes: thZonaSei;
    vertical-align: middle !important;
}
/* Region */
.thRegion {
    width: 80px;
    background: white;
}
.tdRegion {
    composes: thRegion;
    vertical-align: middle !important;
}
/* Comuna */
.thComuna {
    width: 140px;
    background: white;
}
.tdComuna {
    composes: thComuna;
    vertical-align: middle !important;
}
/* Auditor */
.thAuditor{
    width: 110px !important;
    background: white;
}
.tdAuditor{
    width: 110px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.tdAuditor > select {
    width: 98px !important;
    height: 18px;               /* misma altura de un input */
    margin: 0 auto 1px auto;    /* mismos margenes de un input */
    font-size: 10px;
    line-height: 12px;
}

/* Stock */
.thStock {
    width: 60px;
    background: white;
}
.tdStock {
    composes: thStock;
    vertical-align: middle !important;
}
.tdStock > p{
    text-align: right;
}

/* Dotacion */
.thDotacion {
    width: 70px;
    background: white;
}
.tdDotacion {
    composes: thDotacion;
    vertical-align: middle !important;
}
.tdDotacion > input{
    width: 100%;
}

/* Estado */
.thEstado {
    width: 100px;
    background: white;
}
.tdEstado {
    width: 100px;
    vertical-align: middle !important;
}
/* Hora de Apertura / Cierre */
.thAperturaCierre {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 70px;
    background: white;
}
.tdAperturaCierre {
    width: 70px;
    vertical-align: middle !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.tdAperturaCierre > input {
    margin: auto;
    width: 65px;
    height: 18px;
}

.thDireccion{
    width: 220px !important;
    background: white;
}
.tdDireccion{
    width: 220px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
    font-size: 10px;
}
.tdDireccion > p {
    font-size: 10px !important;
}

/* Opciones */
.thOpciones {
    width: auto !important;
    min-width: 200px;
    background: white;
}
.tdOpciones {
    width: auto !important;
    vertical-align: middle !important;
}