/* ######## Paneles de Informacion ########*/
.panelDatos_heading{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.tablaDatos {
    font-size: 12px;
}
.tablaDatos td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.inputEmail {
    margin: 0;
    padding: 0;
    width: 100%;
}