.tablaProductos {
    display: inline-block;
}
.tablaArticulos {
    display: inline-block;
    vertical-align: top;
}
.tablaBarras {
    display: inline-block;
    vertical-align: top;
}

/* TextoCell */
.texto-cell {
    width: 100%;
}
.texto-cell input{
    width: 100%;
}
/* NumberCell */
.td-precio input{
    width: 100%;
}

.selected-row {
    color: orange;
}