.tableFixed{
    table-layout: fixed;
    font-size: 12px !important;
}
.tableFixed td {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    font-size: 10px !important;
}
.tableFixed p {
    margin-bottom: 0;
}


.id {
    width: 30px;
    background: white;
}

/* CLIENTE */
.cliente {
    width: 65px;
    background: white;
}
.cliente-td {
    width: 65px;
    background: white;
}
.cliente-td select {
    width: 100%;
    height: 20px;
}

/* NUMERO LOCAL / CECO */
.numero {
    width: 60px;
    background: white;
}
.numero-td {
    padding: 0 !important;
}
.numero-td input {
    width: 100%;
}

/* NOMBRE DE LOCAL */
.nombre {
    width: 75px;
    background: white;
}
.nombre-td {
    padding: 0 !important;
}
.nombre_input {
    width: 100%;
}

/* FORMATO LOCAL */
.formatoLocal {
    width: 100px;
    background: white;
}
.formatoLocal-td {
    padding: 0 !important;
}
.formatoLocal_select {
    width: 100%;
    height: 20px;
}

/* JORNADA */
.jornada {
    width: 80px;
    background: white;
}
.jornada-td {
    padding: 0 !important;
}
.jornada_select {
    width: 100%;
    height: 20px;
}

/* HORA DE APERTURA */
.horaApertura {
    width: 80px;
    background: white;
}
.horaApertura-td {
    padding: 0 !important;
}
.horaApertura-td input {
    width: 100%;
}

/* HORA DE CIERRE */
.horaCierre {
    width: 80px;
    background: white;
}
.horaCierre-td {
    padding: 0 !important;
}
.horaCierre-td input {
    width: 100%;
}

/* EMAIL CONTACTO */
.emailContacto {
    width: 150px;
    background: white;
}
.emailContacto-td {
    padding: 0 !important;
}
.emailContacto_input {
    width: 100%;
}

/* TELEFONO 1 */
.telefono1 {
    width: 80px;
    background: white;
}
.telefono1-td {
    padding: 0 !important;
}
.telefono1_input {
    width: 100%;
}

/* TELEFONO 2*/
.telefono2 {
    width: 80px;
    background: white;
}
.telefono2-td {
    padding: 0 !important;
}
.telefono2_input {
    width: 100%;
}

/* STOCK */
.stock {
    width: 60px;
    background: white;
}
.stock-td {
    padding: 0 !important;
}
.stock_input {
    width: 100%;
}

/* FECHA STOCK */
.fechaStock {
    width: 70px;
    background: white;
}
.fechaStock-td {
    padding: 0 !important;
}
.fechaStock-td input {
    width: 100%;
}

/* COMUNA */
.comuna {
    width: 80px;
    background: white
}
.comuna-td {
    padding: 0 !important;
}
.comuna_select {
    width: 100%;
    height: 20px;
}

/* DIRECCION */
.direccion {
    width: 180px;
    background: white
}
.direccion-td {
    padding: 0 !important;
}
.direccion_input {
    width: 100%;
}

/* OPCIONES */
.opciones {
    width: auto;
    background: white
}
.opciones-td {
    padding: 0 !important;
}

/* ################################################################### */

.inputDirty {
    border: 2px solid #381615;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #635353;   /*plomo*/
    outline-color: #4f3534;
}
.inputError{
    border: 2px solid #a94442;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    outline-color: #ce8483;
}