.card {
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background: #fff;
    border: 1px solid #EEEEEE;
}
.card-header {
    height: 18px;
}
.card-body {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;

}
.card-footer {

}