/* ######## Paneles de Informacion ########*/
.panelDatos_heading{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.tablaDatos {
    font-size: 12px;
}
.tablaDatos td {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

/* ######## Modal que muestra el formulario ########*/
.modalAmplio {
    width: 90%;
    max-width: 1100px;
}

/* ############# Dotación Seleccionada #############*/
.tablaDotacion {
    table-layout: fixed;
    font-size: 12px;
}


/* Correlativo */
.colCorrelativo{
    width: 18px;
}

/* Usuario RUN */
.colUsuarioRUN {
    width: 100px;;
}
.tdUsuarioRUN > input {
    width: 100%;
}

/* Usuario DV*/
.colUsuarioDV {
    width: 35px;
}
.tdUsuarioDV > input {
    width: 100%;
    text-align: center;
}

/* Nombre */
.colNombre {
    width: 150px;
}
.tdNombre > input {
    width: 100%;
}

/* Cargo */
.colCargo {
    width: 80px;
}
.colOpciones {
    width: auto;
}