/* TABLA SEMANAL*/
.tableFixed{
    table-layout: fixed;
    font-size: 12px !important;
    width: 100%;
}
.tableFixed td {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
.tableFixed p {
    margin-bottom: 0;
}
.tableFixed > tbody > tr > td {
    padding: 0 !important;
}
.trSeparador {
    border-bottom: 2px black solid !important;
}

/* CORRELATIVO */
.thCorrelativo {
    width: 22px;
    background: white;
}
.tdCorrelativo {
    width: 22px;
    vertical-align: middle !important;
}

/* FECHA */
.thFecha{
    width: 60px !important; /* 135 pixeles si tubiera el campo año (-30px por el mes, -40px por el año) */
    background: white;
}
.tdFecha{
    width: 60px !important; /* 135 pixeles si tubiera el campo año (-30px por el mes, -40px por el año) */
    background: white;
    vertical-align: middle !important;
    padding: 0px !important;
}
/* por espacio, se oculta el mes */
.tdFecha input:nth-child(3) {
    display: none;
}
/* por espacio, se oculta el año*/
.tdFecha input:nth-child(4) {
    display: none;
}

/* CLIENTE */
.thCliente{
    width: 35px !important;
    background: white;
}
.tdCliente{
    width: 35px !important;
    background: white;
    vertical-align: middle !important;
    font-size: 10px !important;
}
.tdCliente p{
    text-align: center;
}

/* CECO */
.thCeco{
    width: 40px !important;
    background: white;
}
.tdCeco{
    width: 40px !important;
    background: white;
    vertical-align: middle !important;
    font-size: 10px !important;
}
.tdCeco p{
    text-align: center;
}

/* REGIÓN */
.thRegion{
    width: 45px !important;
    background: white;
}
.tdRegion{
    width: 45px !important;
    background: white;
    vertical-align: middle !important;
    font-size: 12px !important;
}
.tdRegion p{
    text-align: center;
}

/* COMUNA */
.thComuna{
    width: 80px !important;
    background: white;
}
.tdComuna{
    width: 80px !important;
    background: white;
    vertical-align: middle !important;
    font-size: 10px !important;
}

/* TURNO */
.thTurno{
    /* sin filtro (solo texto) no necesita padding, y tendria un ancho de 45px */
    width: 49px !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
    background: white;
}
.tdTurno{
    width: 45px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 14px !important;
}
.tdTurno > select {
    width: 44px !important;
    display: block;
    margin: 0 auto 1px auto;
    height:18px;
    font-size: 10px;
    line-height: 12px;
}

/* TIENDA */
.thTienda{
    width: 100px !important;
    background: white;
}
.tdTienda{
    width: 100px !important;
    background: white;
    vertical-align: middle !important;
    font-size: 10px;
}

/* STOCK */
.thStock{
    width: 47px !important;
    background: white;
}
.tdStock{
    width: 47px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* DOTACION TOTAL */
.thDotacionTotal{
    width: 62px !important;
    background: white;
}
.tdDotacionTotal{
    width: 62px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.tdDotacionTotal > input {
    height: 18px !important;    /* para hacer que el input sea del mismo alto que un select */
    padding: auto 0 !important;
    width: 30px;
}

/* LIDER / SUPERVISOR / CAPTADOR1 / CAPTADOR2 */
.thUsuario{
    width: 100px !important;
    background: white;
}
.tdUsuario{
    width: 100px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.tdUsuario > select {
    width: 98px !important;
    height: 18px;               /* misma altura de un input */
    margin: 0 auto 1px auto;    /* mismos margenes de un input */
    font-size: 10px;
    line-height: 12px;
}

/* DOTACION SUP1 / DOTACION SUP2 */
.thDotacion{
    width: 80px !important;
    background: white;
}
.tdDotacion{
    width: 80px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.tdDotacion > input {
    width: 70px !important;
    height: 22px !important;    /* para hacer que el input sea del mismo alto que un select */
    padding: auto 0 !important;
}

/* HORA LLEGADA LIDER / HORA LLEGADA EQUIPO */
.thHora{
    width: 62px !important;
    background: white;
    padding-right: 0 !important;
}
.tdHora{
    width: 62px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
}
.tdHora > input {
    width: 60px !important;
    height: 18px !important;    /* misma altura que los select */
    margin-left: 0;
    margin-right: 0;
}

/* DIRECCION */
.thDireccion{
    width: 160px !important;
    background: white;
}
.tdDireccion{
    width: 160px !important;
    background: white;
    vertical-align: middle !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
    font-size: 10px;
    line-height: 1 !important;
}

/* NOMINA */
.thNomina{
    background: white;
    width: 65px;
    padding-left: 0 !important;
}
.tdNomina{
    background: white;
    width: auto !important;
    vertical-align: middle !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.tdNomina > button {
    width: 60px;
    font-size: 12px !important;
    line-height: 12px !important;
    height: 18px !important;
}

/* PATENTES */
.thPatentes {
    width: 30px !important;
    background: white;
}
.tdPatentes {
    width: 30px !important;
    background: white;
    vertical-align: middle !important;
    text-align: right;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* UNIDADES */
.thUnidadesReales {
    background: white;
    width: 43px;
    padding-left: 0 !important;;
    padding-right: 0 !important;
}
.tdUnidadesReales {
    background: white;
    width: 43px;
    vertical-align: middle !important;
    text-align: right;
}

.thUnidadesTeoricas {
    background: white;
    width: 40px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.tdUnidadesTeoricas {
    background: white;
    width: 40px !important;
    vertical-align: middle !important;
    text-align: right;
}

/* Archivo final / Acta */
.thArchivoFinal {
    background: white;
    width: auto !important;
    padding-left: 0 !important;
}
.tdArchivoFinal {
    background: white;
    width: auto !important;
    vertical-align: middle !important;
}

/* NOMINA DE PAGO */
/*.thNomimaPago {*/
    /*background: white;*/
    /*width: auto !important;*/
    /*padding-left: 0 !important;*/
/*}*/
/*.tdNominaPago {*/
    /*background: white;*/
    /*width: auto !important;*/
    /*vertical-align: middle !important;*/
/*}*/

/* el tooltip esta dentro del span */
.textoConTooltip span{
    z-index:10;
    display:none;
}
.textoConTooltip:hover span{
    display:inline;
    position:absolute;
    border-radius: 8px;
    color:#EEE;
    background: #222222;
    padding: 4px 8px;
    font-size: 12px;
}